.card-header {
  background: #343a40 !important;
  color: white;
}
.card {
  margin-top: 15%;
}
.row {
  margin: 0px !important;
}
.important-detail {
  color: white;
  /* background-color: red; */
  border: 1px solid black;
}
@media screen and (max-width: 1000px) {
  .col {
    min-width: 50%;
    max-width: 50% !important;
  }
  .row {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .col {
    min-width: 50%;
    max-width: 90% !important;
  }
}
/* @media screen and (max-width: 500px) {
  .col {
    min-width: 50%;
    max-width: 50% !important;
  }
} */
